<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org>
<head>
<meta charset="ISO-8859-1">
<title>PCS Global Meeting Management System</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
      
	    <div class ="container">
	         <div class="row">
	             <h1>Meeting Details</h1>
	         </div>
	         <table class="table table-striped table-bordered">
	             <thead class="table-dark">
	               <tr>
		               <th>meetingId</th>
		               <th>meetingCategory</th>
		               <th>meetingOccuranceType</th>
		               <th>meetingStartDate</th>
		               <th>meetingEndDate</th>
		               <th>meetingStartTime</th>
		               <th>meetingEndTime</th>
	                   <th>Meeting title</th>
	                   <th>Meeting short description</th>
	                   <th>meetingBranch</th>
	                   <th>Actions</th>
	               </tr>
	               </thead>
	               
	               <tbody>
	                                       <!--variable-name-->
	                     <tr th:each = "calender_info_details: ${calender_info_details}">
	                        <td th:text = "${calender_info_details.meetingId}"></td>
	                        <td th:text = "${ calender_info_details.meetingCategory}"></td>
	                        <td th:text = "${ calender_info_details.meetingOccuranceType}"></td>
	                        <td th:text = "${calender_info_details.meetingStartDate}"></td>
	                        <td th:text = "${calender_info_details.meetingEndDate}"></td>
	                        <td th:text = "${calender_info_details.meetingStartTime}"></td>
	                        <td th:text = "${calender_info_details.meetingEndTime}"></td>
	                        <td th:text = "${calender_info_details.meetingTitle}"></td>
	                        <td th:text = "${calender_info_details.meetingShortDesc}"></td>
	                        <td th:text = "${calender_info_details.meetingBranch}"></td>
	                     </tr>
	               </tbody>
	               
	         </table>
	    </div>
	    
</body>
</html>